    .fundo{ 
     background-color: lightgray;
     color: stronggray;
     }
    .titulo{
     background-color: lightgray ;
     
     }
    table {
    border: 2px solid teal;
    padding: 30px;
    text-align: center; 
    margin: 0 auto;
    margin-top: 200px;
    }
    .fonte {
      font-family: Arial;
    }
    .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    }
    form {
    border: 3px solid #f1f1f1;
    }